.height-rhs {
    height: 100%;
}

.project-details-unlink-button {
    max-width: 42px;
    height: 34px;
    margin-right: 16px;
    display: block;
    margin-left: auto;
}

.unlink-button {
    margin-left: auto;
    display: block;

    i {
        margin: 6px 5px 0 0;
    }
}

.rhs-project-list-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 0 30px;
    width: 100%;
    background-color: var(--center-channel-bg);
    box-shadow: 5px -1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;

    .project-list-btn {
        width: calc(100% - 60px);
    }
}


.not-linked {
    text-align: center;
    padding: 50px 0;
}
