.height-rhs {
    height: calc(100% - #{$rhs-bottom-button-height}); // 100% is the entire height and 150px is the space occupied by the button fixed at the bottom
}

.project-details-unlink-button {
    max-width: 42px;
    height: 34px;
    margin-right: 16px;
    display: block;
    margin-left: auto;
}

.unlink-button {
    margin-left: auto;
    display: block;

    i {
        margin: 7px 3px;
    }
}

.rhs-project-list-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 0 30px;
    width: 100%;
    background-color: var(--center-channel-bg);
    box-shadow: 5px -1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;

    .project-list-btn {
        width: calc(100% - 60px); // 60px is the width of padding from left and right
    }
}

.rhs-project-details-unlink-button {
    margin: 0 0 0 auto;
}

.rhs-header-divider {
    margin-bottom: 20px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.2);
}

.filter-dropdown-container {
    display: none;

    &__show {
        display: block;
        margin-top: 20px;
    }
}

.result-panel-icon {
    &--error {
        font-size: 58px;
        color: var(--error-text);
    }
}

// Do not modify this class, this is a direct class from mattermost-webapp
// This class is used for the dimensions of author_icon in Mattermost slack attachment
.post .attachment {
    // To make sure that this CSS does not conflict with the CSS of other plugins
    img[src*="mattermost-plugin-azure-devops/static/repos-icon.svg"], img[src*="mattermost-plugin-azure-devops/static/boards-icon.svg"] {
        width: 20px;
        height: 20px;
    }
}
