// Margins
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-top-80 {
    margin-top: 80px
}

.margin-top-1 {
    margin-top: 1px
}

.margin-0 {
    margin: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-right-8 {
    margin-right: 8px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-left-auto {
    margin-left: auto;
}

// Paddings
.padding-16 {
    padding: 16px;
}

// Dimensions
.height-100vh {
    height: 100vh;
}

// Layouts
.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.flex-basis-initial {
    flex-basis: initial;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

// Positions
.top-0 {
    top: 0;
}

.position-relative {
    position: relative;
}

.bottom-divider {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
}

.show-selected {
    &::after {
        content: "";
        display: block;
        position: relative;
        top: 8px;
        width: 100px;
        height: 3px;
        background-color: var(--link-color);
    }
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

// Fonts
.font-size-14 {
    font-size: 14px;
}

.font-bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-capitalize {
    text-transform: capitalize;
}

.font-weight-normal {
    font-weight: normal !important;
}

// Titles
.rhs-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.link-title {
    color: var(--link-color);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

// Cursors
.cursor-pointer {
    cursor: pointer;
}

// Overflows
.overflow-auto {
    overflow: auto;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Colors
.svg-icon-stroke-color{
    stroke: var(--link-color);
}
