// Colors defined here are independent of the theme
$link-color: #2458D9;
$primary-color: #1C58D9;

// Dimensions
$rhs-bottom-button-height: 150px;

// font icon
$font-icon-path: "../../../public/assets/font-icons";
$font-icon-name: "azure-devops-icon-font";
$font-icon-family-name: "azure-devops-icon-font";
