.azure-devops-plugin {
    .wrapper {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 15px;
        border: 1px solid rgba(63, 67, 80, 0.16);
        background-color: var(--center-channel-bg);
    }
}
