.rhs-tabs {
  // height = right-sidebar-height - right-sidebar-header-height(63px);
  height: calc(100% - 63px);

  .tab-content {
    // height = (right-sidebar-height - right-sidebar-header-height = 100%) - tabs-height;
    height: calc(100% - 63px);
    overflow: auto;

    .tab-pane {
      height: 100%;
    }
  }

  &__cards-container {
    padding-bottom: 50px;
  }

  &__btn-container {
    position: fixed;
    left: 1px;
    right: 0;
    z-index: 1;
    bottom: 0;
    background: var(--center-channel-bg);
    padding: 12px 12px 12px 11px;
    box-shadow: 9px 2px 5px 5px var(--center-channel-bg);
  }

  .tab-btn {
    width: 100%;
  }
}

.rhs-modal {
  .dropdown {
    margin-bottom: 12px;
  }
}
