.modal {
  &__header {
    color: var(--sidebar-text) !important;
    border: none !important;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__close-icon {
    font-size: 20px;
    opacity: 0.7;
  }
}
