.no-data {
  height: 100%;
  justify-content: center;
  margin-top: 80px;
  text-align: center;

  &__icon {
    width: 100px;
    height: 100px;
    background: rgba(var(--center-channel-color-rgb), 0.04);
    border-radius: 100%;
    margin-bottom: 24px;
    font-size: 49px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
  }

  &__subtitle {
    margin-top: 16px;
  }

  &__btn {
    margin-top: 24px;
  }
}

.slash-command {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
}
