.azure-devops-plugin {
  .details-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 5px 0px rgba(var(--center-channel-color-rgb), 0.2);
    margin-bottom: 16px;

    &__header {
      padding: 12px 24px;
      background: var(--sidebar-bg);
      color: var(--sidebar-header-text-color);
    }

    &__header-text {
      font-size: 16px;
      line-height: 100%;
      margin: 0;
      font-weight: 500;
      max-width: calc(100% - 40px);
    }

    &__sub-header {
      opacity: 0.5;
      margin-left: 6px;
    }

    &__action-btn {
      padding: 0;
      outline: none;
      background: transparent;
      border: none;

      &--edit {
        margin-right: 16px;
      }
    }

    .text-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .card-body {
    padding: 4px 0;

    &__section {
      margin: 12px 24px;
      border-bottom: 1px solid rgba(var(--center-channel-color-rgb), .2);

      &:last-child {
        border-bottom: none;
      }
    }

    &__section-heading {
      font-weight: 600;
      font-size: 14px;
      color: rgba(var(--center-channel-color-rgb), .5);
      margin: 0  0 4px;
      max-width: 100%;
    }

    &__list {
      list-style-type: none;
      padding: 0;
      margin-bottom: 10px;
    }

    .body-item {
      &__text {
        font-size: 14px;
        max-width: 100%;
      }

      &__icon {
        margin-right: 10px;
      }
    }
  }
}
