.azd-modal {
  &__subtitle {
    width: 100%;
    margin: 0 0 16px;
  }
  &__error {
    width: 100%;
    margin: 0 0 12px;
    color: var(--error-text);
    text-align: center;
  }
}

.azd-modal__subtitle{
  margin: 12px 0 0 0;
}

.azd-modal__error{
  margin: 12px 0 0 0;
}
